.App {
    display: grid;
    background-color: green;
  
  }

  label > input {
    display: none;
}

input[type="radio"]:checked + img {
    border: solid 4px #ffde00;
    border-radius: 25px;
}

label > span {
  color: #B3A125;
  font-size: 22px;
  text-transform: capitalize;
}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  
}

<ArticleBox>
{ (historyElements < 1) 
  ? <p></p> 
  : <HistoryHeader>History</HistoryHeader> 
}

{ (historyElements < 1) 
  ? <p></p> 
  :         <HistoryBody>
    {historyElements}
  </HistoryBody> 
}

{/* <HistoryBody>
  {historyElements}
</HistoryBody> */}

</ArticleBox>
